html, body {
    margin: 0;
    height: 100%;
}

body header h1 {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;  
    border: 1px solid black;
}

header {
    background-color: #03A9F4;
    margin: 0px 0px 0px 0px;
    padding: 3px 10px 3px 10px;
    font-size: 20px;
    color: #F3F3F3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

th, td {
    padding: 10px;
}

table thead tr th {
    background-color: #03A9F4;
    color: #F3F3F3;
}

.table-header-first-cell::before {
    content: "\2023   ";
    font-size: 20px;
}

.table-header-first-cell {
    border: 10px
}

th {
    font-weight: bold;
}

.content {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}